{% extends 'PriaBackendBundle::layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
    <h1>Product list</h1>
    <table class="table-striped table-bordered">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Link</th>
        <th>Image</th>
        <th>Update product</th>
        <th>Remove product</th>
    </tr> 
    {% for p in products %}
        <tr>
            <td>{{ p.name }}</td>
            <td>{{ p.description }}</td>
            <td>{{ p.extLink }}</td>
            <td><img src="{{ asset('uploads/') ~ p.image }}" width="100"></td>
            <td><a href="{{ url('pria_backend_update', {'id': p.id}) }}">Update</a></td>
            <td><a href="{{ url('pria_backend_delete', {'id': p.id}) }}" class="danger">Remove</a></td>
        </tr>
    {% endfor %}
    </table>
</div>
</div>

<div class="row">
    <div class="pagerfanta">
        <div class="col-md-12">
            {{ pagerfanta(products, 'twitter_bootstrap3') }}
        </div>
    </div>
</div>
{% endblock content %}