<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Pria TASK (Jakub Macák){% endblock %}</title>
        <link href="{{ asset('bundles/css/bootstrap.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bundles/css/flat-ui.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bundles/css/style.css') }}" rel="stylesheet"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
        <script src="{{ asset('bundles/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/js/jquery.nav.js') }}"></script>
        <script src="{{ asset('bundles/js/flat-ui.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
