{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger">
                {{ flashMessage }}
            </div>
        </div>
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger">
                {{ flashMessage }}
            </div>
        </div>
    </div>
{% endfor %}