{% block form_errors %}
    {% if errors|length > 0 %}
    <div class="alert alert-danger" role="alert">
        {% for error in errors %}
            <p>{{ error.message }}</p>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}

{% block form_row %}
<div class="row">
    {{ form_errors(form) }}
    {{ form_label(form) }}
    <div class="form-group">
        {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
{% endblock %}