{% extends 'base.html.twig' %}

{% block body %}

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="">Admin</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url('pria_backend_homepage') }}">Products</a></li>
                    <li><a href="{{ url('pria_backend_new') }}">Add product</a></li>
                    <li><a href="{{ url('pria_frontend_homepage') }}">Homepage</a></li>
                </ul> 
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                    {% endif %}
                </ul>    
            </div>
        </div>
    </div>

    {% include 'flashMessages.html.twig' %}

    {% block content %}
    {% endblock %}

{% endblock %}