body {
  padding-top: 90px;
}

table {
  width: 100%;
}

table th {
  text-align: center;
}

table td {
  padding: 5px;
}

.slick-slider {
  border: 1px solid #ccc;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

a.danger {
  color: #B20000;
}

a.danger:hover {
  color: #660000;
}

.slick-slider {
  margin-top: 50px;
}

.row.info {
  margin-top: -30px;
  margin-bottom: 20px;
}

.pagination li a {
  color: #666;
  background: #ccc;
}

.pagination li.disabled > a, .pagination li.disabled > span {
  color: #ccc;
}