<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Pria TASK (Jakub Macák){% endblock %}</title>
        <link href="{{ asset('bundles/css/bootstrap.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bundles/css/flat-ui.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bundles/css/style.css') }}" rel="stylesheet"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <div class="container">
    <div class="row"><a href="{{ url('pria_frontend_homepage') }}">Homepage</a></div>
    <div class="row">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
        {% else %}
        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
    {% endif %}

    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    </div>
    <div class="row">
        {% block fos_user_content %}  
        {% endblock fos_user_content %}
    </div>
    </div>
</html>
</body>