{% extends 'base.html.twig' %}

{% block stylesheets %}
      <link rel="stylesheet" type="text/css" href="{{ asset('bundles/priafrontend/slick/slick.css') }}"/>
      <link rel="stylesheet" type="text/css" href="{{ asset('bundles/priafrontend/slick/slick-theme.css') }}"/>
{% endblock %}

{% block body %}
    <div class="row info">
            <div class="col-md-12">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a href="{{ path('pria_backend_homepage') }}">Product administration<a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}
                | <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
            </div>
    </div>
    {% if products %}
    <div class="row">
        <div class="col-md-7 img-box">
        </div>
        
        <div class="col-md-5">
            <h2>Product name:<br><span class="name"></span></h2>
            <p><strong>Description:<br></strong> <span class="description"></span></p>
            <p><strong>Link</strong> (click on image to open a link)<br><span class="link"></span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="slick-slider">
                {% for p in products %}
                    <div>
                        <a href="#">
                            <img data-id={{ p.id }} src="{{ asset('uploads/') ~ p.image }}" width="100" class="product-image">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
        <h2>There is no product uploaded.</h2>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/priafrontend/slick/slick.min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('.slick-slider').slick({
                dots: false,
                infinite: true,
                speed: 300,
                accessibility: true,
                arrows: true,
                slidesToShow: 1,
                centerMode: true,
                variableWidth: true
            });
        });
    </script>

    <script type="text/javascript">
        $('.product-image').click(function() {
            var img = $(this).attr('src');
            $.ajax({
                type: 'GET',
                url: "{{ url('pria_frontend_update') }}",
                data: { 
                    'id' : $(this).attr('data-id')
                },
                success: function(data, textStatus, jqXHR) {
                    $('span.name').html(data['name']),
                    $('span.description').html(data['description']),
                    $('span.link').html(data['extLink']),
                    $('.img-box').html('');
                    $('.img-box').append('<a href="' + data['extLink'] + '"><img class="img-responsive" src="' + img + '"></a>')
                }
            })
        });
    </script>
{% endblock %}