{% extends 'base.html.twig' %}

{% block stylesheets %}
      <link rel="stylesheet" type="text/css" href="{{ asset('bundles/priafrontend/slick/slick.css') }}"/>
      <link rel="stylesheet" type="text/css" href="{{ asset('bundles/priafrontend/slick/slick-theme.css') }}"/>
{% endblock %}

{% block body %}
        {% block content %}
        {% endblock %}
{% endblock %}

{% block javascripts %}
{% endblock %}
